<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
				allPopups="false"
				locationURI="popup:de.ovgu.featureide.fm.ui.menus.popupMenu?after=de.ovgu.featureide.fm.ui.menus.popupMenu.submenus">

			<command
	         commandId="de.ovgu.featureide.core.ovm.command.ExportOvModel"
	         id="de.ovgu.featureide.core.ovm.ExportOvm"
	         label="Convert to Orthogonal Variability Model"
	         style="push">
					<visibleWhen
						checkEnabled="false">
					<reference
							definitionId="de.ovgu.featureide.fm.ui.expressions.containsFeatureModel">
					</reference>
				</visibleWhen>
			</command>
		</menuContribution>
		<menuContribution
				allPopups="false"
				locationURI="popup:de.ovgu.featureide.fm.ui.menus.popupMenu?after=de.ovgu.featureide.fm.ui.menus.popupMenu.submenus">

			<command
	         commandId="de.ovgu.featureide.core.ovm.command.ImportOvModel"
	         id="de.ovgu.featureide.core.ovm.ImportOvm"
	         label="Convert to Feature Model"
	         style="push">
				<visibleWhen
						checkEnabled="false">
					<reference
							definitionId="de.ovgu.featureide.core.ovm.ui.expressions.containsOvModel">
					</reference>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
				class="de.ovgu.featureide.core.ovm.handlers.impl.ExportOvModelXmlHandler"
				commandId="de.ovgu.featureide.core.ovm.command.ExportOvModel">
		</handler>
		<handler
				class="de.ovgu.featureide.core.ovm.handlers.impl.ImportOvModelXmlHandler"
				commandId="de.ovgu.featureide.core.ovm.command.ImportOvModel">
		</handler>
 	</extension>
	<extension point="org.eclipse.core.expressions.propertyTesters">
	   	<propertyTester
			class="de.ovgu.featureide.core.ovm.ui.properties.OvModelFormatTester"
			id="de.ovgu.featureide.core.ovm.ui.propertiestester.format"
			namespace="de.ovgu.featureide.core.ovm.ui.properties"
			properties="ovmodel"
			type="java.lang.Object">
		</propertyTester>
	 </extension>
 	<extension point="org.eclipse.core.expressions.definitions">
       <definition
				id="de.ovgu.featureide.core.ovm.ui.expressions.isOvModel">
			<adapt type="org.eclipse.core.resources.IResource">
               <test
					property="de.ovgu.featureide.core.ovm.ui.properties.ovmodel">
				</test>
			</adapt>
		</definition>
		<definition
				id="de.ovgu.featureide.core.ovm.ui.expressions.containsOvModel">
			<with
					variable="activeMenuSelection">
				<iterate
						ifEmpty="false"
						operator="or">
					<reference
							definitionId="de.ovgu.featureide.core.ovm.ui.expressions.isOvModel">
					</reference>

				</iterate>
			</with>
		</definition>
 	</extension>
</plugin>
